<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
            <ul class="nav navbar-nav">
                <% if user_signed_in?%>
                <li>
                    <%= link_to "LogOut",destroy_user_session_path,:method => :delete %>
                </li>
                <% else %>
                <li>
                    <%= link_to "SignIn", new_user_session_path%>
                </li>
                <% end %>
            </ul>
    </div>
  </div>
</nav>